.FollowCommunities{
    display: flex;
    justify-content: center;
    width:440px;
    height: 63px;
    margin-top: 20px;
    border-radius: 40px;
    background-color: #efeeed;
    box-shadow: 5px 5px 8px rgb(163, 177, 198, 0.6),
    -6px -6px 12px rgba(255, 255, 255, 0.5);
}
.FollowCommunities img{
    margin-right: 40px;
}
.FollowCommunities p{
    font-size: 20px;
    margin-top: 15px;
    /* margin-left: 20px; */
}
@media(max-width:768px){
 
    .FollowCommunities{
        width: 350px;
    }
}
@media(max-width:425px){
 
    .FollowCommunities{
        width: 380px;
    }
}
@media(max-width:320px){
 
    .FollowCommunities{
        width: 320px;
    }
}