.tabs{
    width:65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.darkmode{
    background-color: #1a1919;
}
.tablist { 
    display: flex; 
    justify-content: center;
    width: 25%;
    margin: auto;
    margin-bottom:20px;
    padding:2px ;
    background-color:#F3F2F0;
    border: none;
    border-radius: 24px;
    box-shadow: 2px 3px 6px rgb(0 0 0 / 16%);
    font-size: 14px;
    font-weight: 700;
}
/* .footerElemnts{
    margin-top: 20px;
} */
/* Media Quries */
@media (max-width:1024px){
    .tablist{
        width: 35%;
        padding:3px ;
        padding-top:10px;
    }  
}
@media (max-width:768px){
    .tablist{
        width: 45%;
        padding:3px ;
       
    }  
}
@media (max-width:425px){
    .tabs{
        width:100%;
        margin-top:0px;
        padding-top:60px;
    }
    .tablist{
        width: 60%;
        padding:3px ;
        padding-top:10px;
    }   
}