.errorpop{
    
    color: red;
}

.resetButtonDisabled{
    cursor: none;
    opacity: none;
    color:black !important;
    background-color: #F3F2F0 !important;
}
.resetButtonEnabled{
    background-color: #589EE0 !important;
}
body{
    color: black;
}