.switch-field {
      overflow: hidden;
      width: 100%;
text-align: center;
  }
  
  /* .switch-title {
      font-weight: bold;
    margin-bottom: 6px;
  } */
  
  .switch-field input {
      position: absolute !important;
      clip: rect(0, 0, 0, 0);
      height: 1px;
      width: 1px;
      border: 0;
      overflow: hidden;
  }
  
  .switch-field label {
    display: inline-block;
    width: 110px;
    border-radius: 25px;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    text-shadow: none;
    padding: 6px 26px;
    transition: all 0.1s ease-in-out;
    margin-bottom: 0px;
    position:absolute;
    top: 0;
    line-height: 1.8;
    text-align: center;
    height: 34px;
  }
  .switch-field label:first-child {
    left: 0;
  }
  .switch-field label:last-child {
    right: 0;
  }

  .switch-field label:hover {
      cursor: pointer;
  }
  .rightlabel{
      border-radius: 0px 25px 25px 0px;
  }
  .leftlabel{
    left: 0;
}

  .switch-field #switch_right:checked + label {
    background: url(../../images/selectedasay.svg) no-repeat 22px center #36B549;
    color: #fff;
    box-shadow: none;
    border-radius: 50px;
    right: -1px;
    top: -1px;
    
    z-index: 2;
    height: 36px;
    padding-left: 50px;
  }
  #switch_right:checked label{
      border: none;
  }
  .switch-field #switch_left:checked + label {
    /* background-color: #1955a5; */
    background: url(../../images/selectedaask.svg) no-repeat 18px #2168B2 ;
    color: #fff;
    box-shadow: none;
    
    left: -1px;
    top: -1px;
    height: 36px;
    z-index: 2;
    padding-left: 50px;
  }
  .togglediv{
    display: inline-block;
    border: 1px solid #000;
    border-radius: 25px;
    background: #fff;
    margin-bottom: 12px;
    width: 190px;
    height: 36px;
    position: relative;
  }
  .togglediv::after {
    content: " ";
    width: 1px;
    height: 35px;
    position: absolute;
    background: #000;
    left: 50%;
    top:0;
  }
