
.main{
  display: flex;
}

.ForgotPassword{
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.ForgotPasswordImage{
    margin-bottom: 30px;
}
.ForgotHead{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 5px;
    color: #373334;
}
.Forgottext{
    text-align: center;
    font-size: 14px;
    color: #707070;
}
.ForgotFromEmail {
  width: 100%;
                              max-width: 300px;
                              
                              border-bottom: 1px solid rgba(0, 0, 0, 0.5);
                              padding-bottom: 4px;
}
.AddEmail input{
  border: 0;
  width: 100%;
  background-color: transparent;
  font-size: 16px;
  padding: 5px;
}
.AddEmail input:focus {
    outline: none;
  }
  input::placeholder {
    font-size: 16px;
                              text-transform: capitalize;
                              color: #000000;
                              opacity: 0.5;
  }
  .AddEmail{
    width: 303px;
    padding: 20px 40px;
    margin:25px auto;
    background: #EFEEED;
  }
  .Reset {
    width:134px;
    min-height: 54px;
    margin: 0px 240px ;
    /* padding: 10px 30px; */
    background-color: #f3f2f0;
    border: none;
    border-radius: 30px;
    box-shadow: 5px 5px 8px rgb(163, 177, 198, 0.6),
      -6px -6px 12px rgba(255, 255, 255, 0.5);
    color: #4d98df;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  .Reset:focus {
    outline: none;
  }
  .Reset:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
  }
  .BackSignIN{
      margin: 20px 20px;
      cursor: pointer;
      text-align:center;
      font-size:14px;
      color: #4795DE;
  }
  .ForgotMessage {
    color: #373334;
    text-align: center;
    font-size: 14px;
  }
  .footerElemnts{
    font-size: 12px;
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: center;
    color: #373334;
  }
  .footerLinks {
    margin-bottom: 20px;
  }
  .footerLinks a{
    color: #373334;
    font-size: 12px;
    padding: 2px 4px;
  }

