.searchresult{
    box-shadow:-2px -3px 6px #FFFFFF, 0px 3px 6px #00000026;
    border-radius: 20px;
    padding: 20px 0 20px 0px;
}

.searchresult>div{
box-sizing: border-box;
overflow-y: scroll;
height: 812px;
scrollbar-width: thin;
scrollbar-color:#6b71c9;
width: -moz-available;
}
.searchresult::-webkit-scrollbar{
    
width: 4px;
    
}


  .searchresult::-webkit-scrollbar-thumb {
    background: #707070; 
    border-radius: 10px;
    
  }
  .searchresult::-webkit-scrollbar-thumb:hover {
    background: #6b71c9; 
  }
  .loadingspinner{
    position: absolute;
    top: 25%;
    left: 50%;
  }
  .noofsearchresuts{
    display: flex;
    margin:0;
    align-items: center;
    margin-left: 20px;
  }
  .noofsearchresuts>p{
  margin: 2px 0 0 0;
  font-size: 22px;
  color: #373334;
  }
  .noofsearchresuts>a{
    margin-right: 13px;
  }